html {
    scroll-behavior: smooth; 
}
  
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; 
}
  
.content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.title {
    color: #36187D;
    text-align: center;
    font-size: 64px;
    line-height: 70.4px;
}

.subtitle {
    color: #36187D;
    font-size: 27.2px;
    line-height: 40.8px;
}

.text {
    color: #6C758F;
    font-size: 19.2px;
    line-height: 28.8px;
}