.header {
    padding-top: 50px;
    padding-bottom: 50px;
}
.header-container{
  max-width: 1400px;
  margin: 0 auto;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo {
    margin-right: 300px;
}
.header-menu {
    display: flex;
    align-items: center;
}
.header-menu__item {
    margin-right: 38px;
}
.header-menu__link{
    color: #6C758F;
    font-size: 19.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px; /* 150% */
}
.header-menu__item:last-child{
    margin-right: 76px;
}
.header-number__link {
    color: #6C758F;
    font-size: 19.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px; /* 150% */
}
.header-number{
    margin-right: 76px;
}
.header-soc {
    display: flex;
    align-items: center;
}
.header-soc__item {
    margin-right: 18px;
    border-radius: 36.25px;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: -12px -12px 24px 0px #FFF, 14.4px 14.4px 28.8px 0px #D2DCE9;
    display: flex;
    width: 72px;
    height: 73px;
    padding: 23.2px 24.229px 24.8px 24.2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.header-soc__item:last-child{
    margin-right: 0px;
}




